/* ===== INDEX ===== 
1. RESET values - (35)
2. NAVIGATION BAR - (82)
    2.1 HEADER ON TOP - (84)
    2.2 NAVBAR - (112)
    2.3 NAVBAR MQ - (171)
    2.4 NAVBAR LOGO / BURGUER BUTTON - (249)
    2.5 NAVAR LOG MQ - (184)
3. WELCOME SECTION - (195)
    3.1 INFO CONTAINER - (201)
    3.2 PHOTO - (209)
    3.3 TEXT STYLE - (221)
    3.4 WELCOME MEDIA QUERYS - (242)
4. MAIN PROJECTS - (297)
    4.1 PROJECTS CONTAINER - (299)
    4.2 PROJECT CARDS - (311)
    4.3 PROJECT TEXT - (325)
    4.4 PROJECT BUTTON - (338)
    4.5 PROJECT MQ - (359)
    4.6 MODAL - (401)
    4.7 MODAL BUTTON - (420)
    4.8 MODAL CARD - (435)
    4.9 MODAL MQ - (450)
5. CONTACT - (469)
    5.1 CONTACT CONTAINER - (476)
    5.2 CONTACT ICONS - (485)
    5.3 CONTACT STYLE - (494)
    5.4 CONTACT MQ - (518)
6. FOOTER - (551)
    6.1 FOOTER SECTION - (554)
    6.2 FOOTER MQ - (565)


/* ===== 1. RESET ===== */
:root {
    --title: 'Ubuntu', Arial, Helvetica, sans-serif;
    --text: 'Ubuntu', 'Lora' , Arial, Helvetica, serif;
    --red: rgba(166,26,13,1);
    --grey: rgba(211,212,217);
    --lightblue: rgba(75,136,162,.5);
    --black: rgba(37,38,39);
    --white: rgba(255,249,251);
    --green: rgba(155, 166 , 75, 1);
}

html {
    font-size: 62.5%; 
    box-sizing: content-box;
}

html::-webkit-scrollbar {
    display: none;
}
html:focus-within {
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

p, a, li {
    font-family: var(--text);
}

h1, h2, h4, h5 {
    font-family: var(--title);
}

/* ===== 2. NAVBAR START ===== */

/* 2.1 HEADER */
.header-sticky {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--green);
    backdrop-filter: blur(2.2rem);
    box-shadow: -.5rem .3rem 3rem var(--black);
}

/* Header on right side */
@media screen and (min-width: 1024px) {
    .header-sticky {
        flex-direction: column;
       align-items: flex-end;
        left: 200rem;
        width: 11rem;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        backdrop-filter: none;
    }
}
/* 2.1 HEADER END */

/* 2.2 NAVBAR START */
.navbar {
    position: relative;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
}

.navbar__list {
    display: flex;
    padding: 0;
    transform: translateX(-300%);
    transition: transform .3s;
    position: absolute;
}

.navbar__item {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar__item a {
    display: block;
    text-decoration: none;
    font-size: 2em;
    color: var(--black);
    margin: 0 .2rem;
}

.navbar__item  i {
    display: none;
}

.lang {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.flags {
    margin: 0 .5rem;
    font-size: 2rem;
}

.navbar__item a:hover {
    color: var(--black);
}

.show {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
    transform: translateX(0);
    position: relative;
}


/* 2.3 NAVBAR ITEMS MEDIA QUERYS */
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .navbar__list {
        margin: 0;
        position: relative;
        transform: translateX(0);
        transition: transform .3s;
    }

    .navbar__item {
        padding: 5% 2rem;
        height: 100%;
    }

}

@media screen and (min-width: 1024px) {
    .navbar {
        flex-direction: column;
        position: absolute;
        top: 12rem;
    }

    .navbar__list {
        flex-direction: column;
        width: 16rem;
        transform: translateX(50%);
    }

    .navbar__item {
        margin: .5rem 0;
        padding: .5rem 1rem;
        background-color: var(--green);
        border-radius: 1rem;
        width: 100%;
    }

    .navbar__item:hover {
        cursor: pointer;
        transform: translateX(-50%);
        transition: transform .5s;
    }

    .navbar__item a {
        margin: 0;
        font-size: 2.7em;
        transform: translateX(30%);
    }

    .navbar__item:hover > a {
        transform: translateX(-5%);
        transition: transform .5s;
    }

    .navbar__item i {
        display: block;
        font-size: 2em;
        color: var(--black);
        margin-right: 1rem;
    }

     .lang {
        margin-top: 2rem;
        flex-direction: column;
        align-self: flex-start;
    }

    .flags {
        margin: .5rem 0;
    }
}

/* 2.4 NAVBAR LOGO AND BURGER BUTTON*/
.nav-logo {
    margin: 0;
    padding: .5rem;
}

.nav-logo img {
    width: 7rem;
    height: 7rem;
}

.toggle-menu {
    font-size: 3rem;
    color: var(--white);
    align-self: center;
    cursor: pointer;
}

.toggle-responsive {
    transform: scale(-1.1);
    transition: transform .3s;
} 

.logo {
    display: none;
}

/* 2.5 NAVBAR LOGO MEDIA QUERYS */
@media screen and (min-width: 768px) {
    .hide {
        position: absolute;
        transform: translateX(-115%);
        transition: transform .3s;
    }

}

@media screen and (min-width: 1024px) {
    .hide {
        transform: translateY(-115%);
        transition: transform .3s;
    }

    .nav-logo {
        order: -1;
    }
}

/* ===== 2. NAVBAR START ===== */

/* ===== 3. WELCOME START ===== */

/* 3.1 INFO CONTAINER */
.welcome__section {
    position: relative;
}

.welcome__section-container {
   margin: 1rem auto;
    width: 40rem;
    display: flex;
    flex-direction: column;
}

/* Info MQ */
@media screen and (min-width: 1024px) {
     .welcome__section {
        margin: 0 auto;
        width: 110rem;
    }

    .curved-bg {
        position: absolute;
        width: 100%;
        height: 32rem;
        background: var(--green);
        z-index: -1;
        border-radius: 2rem;
    }

}

.welcome__section-photo img {
    border-radius: 30%;
    filter: drop-shadow(.1rem .1rem .5rem rgb(54, 54, 54));
}

/* 3.3 CONTACT ICONS */
.contact__section-icons {
    display: flex;
    padding: 0;
    justify-content: center;
}

.contact-item {
    list-style-type: none;
    margin: 0 1rem;
}

.contact-item a {
    display: block;
    text-decoration: none;
    font-family: var(--text);
    color: #000;
    font-size: 2em;
    padding: .5em 0;
}

.contact-item a:hover {
    color: var(--lightblue);
}

.fas, .fab {
    padding-right: .5em;
    padding-left: .5em;
}

/* Contact MQ */
@media screen and (min-width: 768px) {
    
    .contact__section-container {
        width: 50%;
    }

    .contact__section-title {
        font-size: 1.8rem;
    }

    .contact-item a {
        font-size: 2.8rem;
    }

}

@media screen and (min-width: 1024px) {
    
    .contact__section-container {
        width: 75%;
    }

    .contact__section-title {
        font-size: 2rem;
    }

    .contact-item a {
        font-size: 2.8rem;
    }

}

/* 3.4 TEXT STYLE */
.welcome__section-name {
    margin: 1.5rem 0;
    text-align: center;
}

.welcome__section-name h1 {
    font-size: 2.8em;
    margin: 0;
}
.welcome__section-name h2 {
    font-size: 2.2em;
    margin: .5em 0;
}


/* 3.5 INTRO SECTION */
.welcome__section-intro {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.welcome__section-intro::before {
    content: "";
    width: 8rem;
    height: .5rem;
    /* background-color: #00769C; */
    background-color: var(--green);
}

.welcome__section-intro p {
    margin:  .5rem 0;
    line-height: 1.5;
    font-size: 1.6rem;
    text-indent: 4.5rem;
}


/*  Welcome MQ */
@media screen and (min-width: 768px) {
    
    .welcome__section-container {
        width: 70rem;
        padding: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .welcome__section-photo {
        margin: 0 1rem;
        flex: 0 0 calc(40% - 1rem);
    }

    .welcome__section-name {
        margin: 0 auto;
        padding: .5rem;
        align-self: center;
    }

    .welcome__section-name h1 {
        font-size: 3.2rem;
    }

    .welcome__section-intro {
        padding: 0;
        margin-top: 3rem;
    }

}

@media screen and (min-width: 1024px) {
    
    .welcome__section-container {
        width: 98%;
    }

    .welcome__section-photo {
        flex: 0 0 calc(37% - 1rem);
        opacity: 0.95;
        align-self: center;
    }

    .welcome__section-name h1 {
        font-size: 4.5rem;
    }

    .welcome__section-name h2 {
        font-size: 3rem;
        padding: 2.8rem 0 0 2rem;
    }

    .welcome__section-name p {
        font-size: 2.2rem;
        padding: 0 3rem;
        line-height: 2;
    }

    .welcome__section-intro {
        margin-top: 5rem;
    }

}

/* ===== 3. WELCOME END ===== */

/* ===== 4. MAIN START ===== */
.main__projects {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .main__projects {
        margin: 0 auto;
        width: 110rem;
    }
}

/* 4.1 LOGOS */
.main__projects-tech,
.career-skills {
    margin: 1.5rem 0;
    padding: 0 1rem;
}

.img-logo {
    width: auto;
}

.tech {
    margin: 1.5rem 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    height: 5rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.skills_item {
    display: flex;
    align-items: center;
    height: 5rem;
}

.skills_item p {
    margin: 0;
    font-size: 1.5rem;
}

/* Logos MQ */
@media screen and (min-width: 768px) {

    .tech {
        height: 6.5rem;
        gap: 1.5rem;
    }

}

@media screen and (min-width: 1024px) {
    
    .skills {
        gap: 1.5rem;
    }
}

.hidden {
    display: none;
}

/* 4.2 PROJECTS CONTAINER */
.main__projects-container {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__projects-title {
    font-size: 2.5rem;
}

.closeBtn {
    align-self: flex-end;
    margin-right: 2rem;
    font-size: 2.5rem;
    color: var(--red);
}

.closeBtn:hover,
.closeBtn:focus {
    color: var(--green);
    transform: scale(1.5);
    cursor: pointer;
}

/* 4.3 PROJECTS CARDS */
.main__projects-cardcontainer,
.da_container {
    width: 90vw;
    margin: 0 auto;
    max-width: 110rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 2rem;
    grid-auto-flow: dense;
}

.main__da-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    max-width: 110rem;
}

.card_container {
    display: flex;
    flex-direction: column;
}

.card_container:hover {
    box-shadow: .2rem .2rem 2rem #000;
    border-radius: 1rem;
    transition: 0.5s;
}

.main__projects-card {
    margin: 0;
    padding: 0;
    border-radius: 1rem 1rem 0 0;
    height: 35rem;
    overflow: hidden;
}

.middle {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.8rem;
    font-size: 1.8rem;
    border-radius: 0 0 1rem 1rem;
    height: max-content;
}

/* Project cards MQ */
@media screen and (min-width: 768px) {

    .main__projects-title {
        align-self: flex-start;
    }

}

@media screen and (min-width: 1024px) {
    .main__projects-title {
        font-size: 3rem;
    }
}

/* 4.4 PROJECT TEXT */
.middle p {
    margin: 0 0 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

.middle a {
    text-decoration: none;
    cursor: pointer;
    color: var(--green);
    padding: .5rem 1rem; 
    background-color: var(--black);
    border-radius: 2rem;
}

.middle span > a {
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline red dashed;
}

/* 4.5 PROJECT BUTTON */
.main__projects-button {
    background-color: var(--grey);
    color: #00769C;
    font-family: var(--text);
    padding: .5em 1em;
    border-radius: 1.2em;
    font-weight: bold;
    border: none;
    margin: 2rem 0 2rem;
    font-size: 1.3em;
    transition: transform linear 10ms;
}

.main__projects-button:hover {
    background-color: var(--black);
    color: var(--red);
    transform: scale(1.1);
    box-shadow: .2em .2em 2rem var(--grey);
}

/* Project MQ */
@media screen and (min-width: 1024px) {

    .main__projects-card {
        height: 40rem;
    }

    .middle p, a {
        font-size: 2rem;
    }

    .main__projects-button {
        font-size: 1.8rem;
    }

}

/* 4.6 MODAL */
.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(1rem);
}

.modal-content {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
}

/* 4.7 MODAL BUTTON */
.close-btn {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: var(--grey);
    align-self: flex-end;
    margin-right: 2rem;
}

.close-btn:hover,
.close-btn:focus {
    color: var(--red);
    transform: scale(1.5);
}

/* 4.8 MODAL CARD */
.modal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-card img {
    border-radius: 1rem;
    width: 30rem;
}

.modal-card p {
    font-size: 1.5rem;
    color: var(--white);
    text-shadow: 2rem 2rem 2rem var(--black);
}

/* Modal MQ */
@media screen and (min-width: 768px) {

    .modal-content {
        margin: auto;
    }

    .modal-card img {
        width: 40%;
    }

    .close-btn {
        font-size: 4rem;
        margin: 2% 10%;
    }

}

/* 4.9 CAREER EXPERIENCE */
.career-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    max-width: 110rem;
    margin: 0 auto 2rem;
}

.career-info h4 {
    margin: 0;
    font-size: 1.8rem;
}

.career-info h5 {
    margin: .5rem 0;
    color: var(--green);
    font-size: 1.5rem;
    font-style: italic;
}

.career__task-list {
    margin: .5rem;
}

.task-item {
    font-size: 1.3rem;
    padding: 1rem 0;
}

.career-info p {
    margin: .5rem 0 1.5rem;
    font-size: 1.3rem;
    line-height: 1.5;
}

/* CAREER MQ */
@media screen and (min-width: 1024px) {
    .career-info h4 {
        font-size: 2rem;
    }

    .career-info h5 {
        font-size: 1.7rem;
    }

    .task-item, 
    .career-info p {
        font-size: 1.5rem;
    }
}
/* ===== 4. MAIN END ===== */

/* ===== 5. CONTACT START ===== */
.contact__section {
    background-color: var(--green);
    color: var(--black);
}

/* 5.1 CONTACT CONTAINER */
.contact__section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
/* ===== 5. CONTACT END ===== */


/* ===== 6. FOOTER START===== */

/* 6.1 FOOTER SECTION */
.footer__section {
    display: flex;
    justify-content: center;
    border-top: .5em solid var(--red);
}
.footer__section p {
    font-size: 1em;
    padding-right: 1em;
}

/* Footer MQ */
@media screen and (min-width: 1024px) {

    .footer__section p {
        font-size: 1.3rem;
    }

}
/* ===== 6. FOOTER END===== */
